@font-face {
  font-family: Barlow;
  src: url(./assets/font/Barlow/Barlow-Regular.ttf);
}
@font-face {
  font-family: Fraunces;
  src: url(./assets/font/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
body {
  margin: auto 0;
}
body .Links_NavBar, body .Info_Desktop {
  display: none;
}
body header {
  background-image: url(./assets/img/mobile/image-header.jpg);
  background-repeat: none;
  background-size: cover;
  height: 550px;
}
body header .logo_navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 0 1rem;
}
body header .Princ_Title {
  display: grid;
  place-content: center;
  margin: 6rem 1rem 2rem 1rem;
}
body header .Princ_Title h1 {
  font-family: Fraunces;
  font-weight: 900;
  text-align: center;
  color: hsl(198, 62%, 26%);
  color: hsl(0, 0%, 100%);
  margin-bottom: 2rem;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
body header .Princ_Title .down_arrow {
  justify-self: center;
}
body header .Princ_Title .down_arrow img {
  margin-top: 2rem;
  align-self: center;
}
body .Info_Mobile {
  max-width: 375px;
  background-color: hsl(0, 0%, 100%);
  transform: translateY(-2rem);
}
body .Info_Mobile h2, body .Info_Mobile p {
  padding-left: 3rem;
  padding-right: 3rem;
}
body .Info_Mobile .Services, body .Info_Mobile .Collab {
  height: 13rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: grid;
  place-content: center;
  max-width: 375px;
}
body .Info_Mobile .Services h2, body .Info_Mobile .Collab h2 {
  font-family: Fraunces;
  font-weight: 900;
  text-align: center;
  color: hsl(198, 62%, 26%);
  margin-bottom: 1rem;
  font-size: 22px;
}
body .Info_Mobile .Services p, body .Info_Mobile .Collab p {
  font-family: Barlow;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  color: hsl(210, 4%, 67%);
  font-weight: 700;
}
body .Info_Mobile .Services a, body .Info_Mobile .Collab a {
  font-family: Fraunces;
  font-weight: 900;
  text-align: center;
  color: hsl(198, 62%, 26%);
  text-decoration: none;
  font-family: Fraunces;
  margin-top: 3rem;
}
body .Info_Mobile img {
  max-width: 375px;
}
body .Info_Mobile .Graphic_Design {
  height: 600px;
}
body .Info_Mobile .Graphic_Design h2, body .Info_Mobile .Graphic_Design p {
  transform: translateY(-13rem);
  font-family: Barlow;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  color: hsl(167, 40%, 24%);
  font-weight: 700;
}
body .Info_Mobile .Graphic_Design h2 {
  font-family: Fraunces;
  font-weight: 900;
  text-align: center;
  color: hsl(198, 62%, 26%);
  color: hsl(167, 40%, 24%);
  font-size: 22px;
  margin-bottom: 2rem;
}
body .Info_Mobile .Photography {
  height: 600px;
}
body .Info_Mobile .Photography h2, body .Info_Mobile .Photography p {
  transform: translateY(-12rem);
  font-family: Barlow;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
}
body .Info_Mobile .Photography h2 {
  font-family: Fraunces;
  font-weight: 900;
  text-align: center;
  color: hsl(198, 62%, 26%);
  font-size: 22px;
  margin-bottom: 2rem;
}
body .Info_Mobile .Photography p {
  color: hsl(198, 62%, 26%);
}
body .Employe {
  display: grid;
  grid-template-rows: 100px, repeat(3, 1fr);
  row-gap: 4rem;
  margin: 0 2rem 5rem 2rem;
  align-items: center;
}
body .Employe h3 {
  text-transform: uppercase;
  color: hsl(210, 4%, 67%);
  font-weight: 900;
  font-family: Fraunces;
  letter-spacing: 0.3rem;
  font-size: 14px;
  margin: 3rem 0 1rem 0;
  text-align: center;
}
body .Employe img {
  border-radius: 100%;
  width: 80px;
  margin-bottom: 1rem;
  margin-left: 7rem;
}
body .Employe .talk {
  font-family: Barlow;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: hsl(213, 9%, 39%);
}
body .Employe .PersName {
  font-family: Fraunces;
  font-weight: 900;
  text-align: center;
  color: hsl(198, 62%, 26%);
  padding-bottom: 0.5rem;
}
body .Employe .Job {
  font-family: Barlow;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  color: hsl(210, 4%, 67%);
  font-size: 12px;
}
body .Mix_img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
body .Mix_img img {
  width: 100%;
  height: 100%;
}
body .Mix_img .first_img {
  grid-column: 1;
  grid-row: 1;
}
body .Mix_img .sec_img {
  grid-column: 2;
  grid-row: 1;
}
body .Mix_img .third_img {
  grid-column: 1;
  grid-row: 2;
}
body .Mix_img .fth_img {
  grid-column: 2;
  grid-row: 2;
}
body footer {
  background-color: #90D4C6;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}
body footer .Logo_Foot {
  margin-bottom: 4rem;
  filter: invert(26%) sepia(9%) saturate(2406%) hue-rotate(116deg) brightness(50%) contrast(90%);
}
body footer .Nav_Footer nav {
  display: inline-flex;
}
body footer .Nav_Footer nav li {
  list-style-type: none;
}
body footer .Nav_Footer nav li a {
  font-family: Barlow;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  color: hsl(167, 40%, 24%);
  font-weight: 700;
  padding: 0 2rem 0 2rem;
}
body footer .social_network {
  margin-top: 4rem;
  padding-bottom: 3rem;
}
body footer .social_network img {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 1440px) {
  html, body {
    width: 100%;
    height: 100%;
  }
  body .Links_NavBar, body .Info_Desktop {
    display: block;
  }
  body .Icon_Hamburger, body .Info_Mobile {
    display: none;
  }
  body header {
    background-image: url(./assets/img/desktop/image-header.jpg);
    background-size: cover;
    background-position: center center;
    height: 100%;
  }
  body header .Links {
    display: block;
    display: inline-flex;
  }
  body header .Links li {
    list-style-type: none;
  }
  body header .Links li a {
    font-family: Barlow;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    padding: 0 2rem 0 2rem;
  }
  body header .Links li .contact {
    background-color: hsl(0, 0%, 100%);
    color: #000000;
    text-transform: uppercase;
    font-family: Fraunces;
    border-radius: 30px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  body .Info_Desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 600px);
  }
  body .Info_Desktop h2, body .Info_Desktop p {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  body .Info_Desktop img {
    width: 100%;
    height: 100%;
  }
  body .Info_Desktop .Services, body .Info_Desktop .Collab {
    max-width: 400px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: grid;
    place-content: center;
  }
  body .Info_Desktop .Services h2, body .Info_Desktop .Collab h2 {
    font-family: Fraunces;
    font-weight: 900;
    text-align: center;
    color: hsl(198, 62%, 26%);
    margin-bottom: 1rem;
    font-size: 24px;
  }
  body .Info_Desktop .Services p, body .Info_Desktop .Collab p {
    font-family: Barlow;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: hsl(210, 4%, 67%);
    font-weight: 700;
    font-size: 18px;
  }
  body .Info_Desktop .Services a, body .Info_Desktop .Collab a {
    font-family: Fraunces;
    font-weight: 900;
    text-align: center;
    color: hsl(198, 62%, 26%);
    text-decoration: none;
    font-family: Fraunces;
    margin-top: 3rem;
  }
  body .Info_Desktop .Services {
    grid-column: 1;
    grid-row: 1;
  }
  body .Info_Desktop .egg_pic {
    grid-column: 2;
    grid-row: 1;
  }
  body .Info_Desktop .glass_pic {
    grid-column: 1;
    grid-row: 2;
  }
  body .Info_Desktop .Collab {
    grid-column: 2;
    grid-row: 2;
  }
  body .Info_Desktop .Graphic_Design {
    grid-column: 1;
    grid-row: 3;
  }
  body .Info_Desktop .Photography {
    grid-column: 2;
    grid-row: 3;
  }
  body .Info_Desktop .Photography h2, body .Info_Desktop .Photography p, body .Info_Desktop .Graphic_Design h2, body .Info_Desktop .Graphic_Design p {
    transform: translateY(-12rem);
    font-family: Barlow;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    padding-left: 13rem;
    padding-right: 13rem;
  }
  body .Info_Desktop .Photography h2, body .Info_Desktop .Graphic_Design h2 {
    font-family: Fraunces;
    font-weight: 900;
    text-align: center;
    color: hsl(198, 62%, 26%);
    font-size: 22px;
    margin-bottom: 2rem;
  }
  body .Info_Desktop .Photography p, body .Info_Desktop .Graphic_Design p {
    color: hsl(198, 62%, 26%);
  }
  body .Employe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 1fr;
  }
  body .Employe .Client {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    padding-top: 4rem;
  }
  body .Employe img {
    margin-left: 7rem;
  }
  body .Employe .talk {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  body .Employe .director {
    grid-column: 1;
    grid-row: 2;
  }
  body .Employe .ChiefOfficer {
    grid-column: 2;
    grid-row: 2;
  }
  body .Employe .owner {
    grid-column: 3;
    grid-row: 2;
  }
  body .Mix_img {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  body .Mix_img img {
    width: 100%;
    height: 100%;
  }
  body .Mix_img .first_img {
    grid-column: 1;
    grid-row: 1;
  }
  body .Mix_img .sec_img {
    grid-column: 2;
    grid-row: 1;
  }
  body .Mix_img .third_img {
    grid-column: 3;
    grid-row: 1;
  }
  body .Mix_img .fth_img {
    grid-column: 4;
    grid-row: 1;
  }
}/*# sourceMappingURL=style.css.map */