//Import font 
@font-face {
    font-family: Barlow;
    src: url(./assets/font/Barlow/Barlow-Regular.ttf);
}
@font-face {
    font-family: Fraunces;
    src: url(./assets/font/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
//Création de variables et mixins
$colorTxt:hsl(198, 62%, 26%);
$colorFoot:hsl(168, 34%, 41%);
$fontTxt: Barlow;
$graphicTxt: hsl(167, 40%, 24%) ;
$back:hsl(0, 0%, 100%);
$bluegray:hsl(210, 4%, 67%);

@mixin title{
    font-family: Fraunces;
    font-weight: 900;
    text-align: center;
    color: $colorTxt;
}
@mixin text{
    font-family: Barlow;
    text-align: center;
    font-size: 14px;
    line-height: 1.5 ;
}
@mixin links{
    @include title;
    text-decoration: none;
    font-family: Fraunces;
}

//Mobile First
body{
    margin: auto 0;
    .Links_NavBar, .Info_Desktop{
    display: none;//Masque les photos pour la version pc
    }
    header{
        background-image: url(./assets/img/mobile/image-header.jpg);
        background-repeat: none;
        background-size: cover;
        height: 550px;
        .logo_navbar{
            display: flex;
            justify-content: space-between;
            padding: 2rem 1rem 0 1rem;
        }
        .Princ_Title{
            display: grid;
            place-content: center;//Permet de centrer les éléments dans le container
            margin: 6rem 1rem 2rem 1rem;
            h1{
                @include title;
                color: hsl(0, 0%, 100%);
                margin-bottom: 2rem;
                font-size: 30px;
                text-transform: uppercase;
                letter-spacing: 0.5rem;
            }
            .down_arrow{
                justify-self: center;
                img{
                    margin-top: 2rem;
                    //margin-bottom: 10rem;
                    align-self: center;
                }
            }
        }
    }
    .Info_Mobile{
        max-width: 375px;
        background-color: $back;
        transform: translateY(-2rem);
        h2, p{
            padding-left: 3rem;
            padding-right: 3rem;
        }
        .Services, .Collab{
            height: 13rem;
            padding-top: 3rem;
            padding-bottom: 3rem;
            display: grid;
            place-content: center;
            h2{
                @include title;
                margin-bottom: 1rem;
                font-size: 22px;
            }
            p{
                @include text; 
                color: $bluegray;
                font-weight: 700;
            }
            max-width: 375px;
            a{
                @include links;
                margin-top: 3rem;
            }
        }
        img{
            max-width: 375px;
        }
        .Graphic_Design{
            height: 600px;
            h2, p{
                transform: translateY(-13rem);
                @include text();
                color: $graphicTxt;
                font-weight: 700;
            }
            h2{
                @include title();
                color: $graphicTxt;
                font-size: 22px;
                margin-bottom: 2rem;
            }
        }
        .Photography{
            height: 600px;
            h2, p{
                transform: translateY(-12rem);
                @include text();
                font-weight: 700;
            }
            h2{
                @include title();
                font-size: 22px;
                margin-bottom: 2rem;
            }
            p{
                color: $colorTxt;
            }
        }
    }
    .Employe{
        display: grid;
        grid-template-rows: 100px, repeat(3, 1fr);
        row-gap: 4rem;
        margin: 0 2rem 5rem 2rem;
        align-items: center;
        h3{
            text-transform: uppercase;
            color:$bluegray;
            font-weight: 900;
            font-family:Fraunces ;
            letter-spacing: 0.3rem;
            font-size: 14px;
            margin: 3rem 0 1rem 0;
            text-align: center;
        }
            img{
                border-radius: 100%;
                width: 80px;
                margin-bottom: 1rem;
                margin-left: 7rem;
            }
        .talk{
            @include text();
            margin-bottom: 2rem;
            color: hsl(213, 9%, 39%);
        }
        .PersName{
            @include title;
            padding-bottom: 0.5rem; 
        }
        .Job{
            @include text();
            color: $bluegray;
            font-size: 12px;
        }
        
    }
    .Mix_img{
        display: grid;//Grille 2x2
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        img{
            width: 100%;
            height: 100%;//remplissage complet des cellules par les images
        }
        .first_img{
            grid-column: 1;
            grid-row: 1;
        }
        .sec_img{
            grid-column: 2;
            grid-row: 1;
        }
        .third_img{
            grid-column: 1;
            grid-row: 2;
        }
        .fth_img{
            grid-column: 2;
            grid-row: 2;
        }
    }
    footer{
        background-color:#90D4C6 ;
        height: 300px;
        display: flex;
        flex-direction: column;//Eléments mis dans une colonne
        align-items: center;//Alignement des items au centre du footer
        padding-top: 3rem;
        .Logo_Foot{
            margin-bottom: 4rem;
            filter: invert(26%) sepia(9%) saturate(2406%) hue-rotate(116deg) brightness(50%) contrast(90%);//Colorisation du logo
        }
        .Nav_Footer{
            nav{
                display: inline-flex;//Alignement sur une même ligne
                li{
                    list-style-type: none;//Suppression des puces de la liste
                    a{
                        @include text();
                        text-decoration: none;
                        color: $graphicTxt;
                        font-weight: 700 ;
                        padding: 0 2rem 0 2rem;
                    } 
                }
            }
        }
        .social_network{
            margin-top: 4rem;
            padding-bottom: 3rem;
            img{
                padding-left: 1rem;//Espace entre les icones
                padding-right: 1rem;
            }
        }
    }
}

//Version pc (1440px)
@media screen and (min-width:1440px) {
    html, body{
        width: 100%;
        height: 100%;
    }
    body{
        .Links_NavBar, .Info_Desktop{
            display: block;//Affichage des contenus pc
            }
        .Icon_Hamburger, .Info_Mobile{
            display: none;
        }
        header{
            background-image: url(./assets/img/desktop/image-header.jpg);
            background-size: cover;
            background-position: center center;
            height: 100%;
            .Links{
                display: block;
                display: inline-flex;//Alignement sur une même ligne
                li{
                    list-style-type: none;//Suppression des puces de la liste
                    a{
                        @include text();
                        text-decoration: none;
                        color: $back;
                        font-weight: 700 ;
                        padding: 0 2rem 0 2rem;
                    } 
                    .contact{
                        background-color: $back;
                        color: #000000;
                        text-transform: uppercase;
                        font-family: Fraunces;
                        border-radius: 30px;
                        padding-top: 0.8rem;
                        padding-bottom: 0.8rem;
                    }
                }
            }
        }
        .Info_Desktop{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 600px);
            h2, p{
                padding-left: 3rem;
                padding-right: 3rem;
            }
            img{
                width: 100%;
                height: 100%;
            }
            .Services, .Collab{
                max-width: 400px;
                //height: 13rem;
                padding-top: 3rem;
                padding-bottom: 3rem;
                display: grid;
                place-content: center;
                h2{
                    @include title;
                    margin-bottom: 1rem;
                    font-size: 24px;
                }
                p{
                    @include text(); 
                    color: $bluegray;
                    font-weight: 700;
                    font-size: 18px;
                }
                a{
                    @include links;
                    margin-top: 3rem;
                }
            }
            //Placement des div dans les cellules
            .Services{
                grid-column: 1;
                grid-row: 1;
            }
            .egg_pic{
                grid-column: 2;
                grid-row: 1;
            }
            .glass_pic{
                grid-column: 1;
                grid-row: 2;
            }
            .Collab{
                grid-column: 2;
                grid-row: 2;
            }
            .Graphic_Design{
                grid-column: 1;
                grid-row: 3;
            }
            .Photography{
                grid-column: 2;
                grid-row: 3;
            }
            .Photography, .Graphic_Design{
                h2, p{
                    transform: translateY(-12rem);
                    @include text();
                    font-weight: 700;
                    padding-left: 13rem;
                    padding-right: 13rem;
                }
                h2{
                    @include title();
                    font-size: 22px;
                    margin-bottom: 2rem;
                }
                p{
                    color: $colorTxt;
                }
            }
        }
        .Employe {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr, 1fr;
            .Client{
                grid-row: 1;
                grid-column: 2;
                align-self: center;
                padding-top: 4rem;
            }
            img{
                margin-left: 7rem;
            }
            .talk{
                padding-right: 5rem;
                padding-left: 5rem;
            }
            .director{
                grid-column: 1;
                grid-row: 2 ;
            }
            .ChiefOfficer{
                grid-column: 2;
                grid-row: 2 ;
            }
            .owner{
                grid-column: 3;
                grid-row: 2;
            }
        }
        .Mix_img{
            grid-template-columns: repeat(4, 1fr);//Alignement sur une ligne
            grid-template-rows: 1fr;
            img{
                width: 100%;
                height: 100%;//remplissage complet des cellules par les images
            }
            .first_img{
                grid-column: 1;
                grid-row: 1;
            }
            .sec_img{
                grid-column: 2;
                grid-row: 1;
            }
            .third_img{
                grid-column: 3;
                grid-row: 1;
            }
            .fth_img{
                grid-column: 4;
                grid-row: 1;
            }
        }
    }
}